<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    </form>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if lista %}
        <ul>
            {%for elemento in lista%}
                <li>{{ elemento }}</li>
                <form action = "/rimuovi/{{ loop.index0 }}" method = "post"
            style = "display:inline;" >
                    <button type = "submit" > Rimuovi </button>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>per ora funzione tutto</p>
        {%endif%}
        
        <form action = "/aggiungi" method = "post" ></form>
            <input type = "text" name = "elemento" placeholder = "Aggiungi un elemento"
        required>
        <button type = "submit" > Aggiungi </button>
        </form>
</body>
</html>